<footer class="footer-social-icon text-center section_padding_70 clearfix">
  <div class="footer-text">
      <h2>Glosskode</h2>
  </div>
  <div class="footer-social-icon">
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="active fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
  </div>
  <div class="footer-menu">
      <nav>
          <ul>
              <li><a routerLink="/About">About</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a routerLink="/Contact">Contact</a></li>
          </ul>
      </nav>
  </div>
  <div class="copyright-text">
      <p>Copyright ©2019  Designed by <a routerLink="/Home">Glosskode</a></p>
  </div>
</footer>
