
.cool_facts_area {
  position: relative;
  z-index: auto;
  background: #a865e1;
  background: -webkit-linear-gradient(to left, #7873ed, #a865e1);
  background: -webkit-linear-gradient(right, #7873ed, #a865e1);
  background: -webkit-gradient(linear, right top, left top, from(#7873ed), to(#a865e1));
  background: -o-linear-gradient(right, #7873ed, #a865e1);
  background: linear-gradient(to left, #7873ed, #a865e1);
  padding: 180px 0 80px 0;
  top: -100px;
}

.cool_facts_area:after {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  content: ''
}

.cool-facts-content > i {
  color: #ffffff;
  font-size: 36px;
}

.counter-area {
  min-width: 100px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.counter-area > h3 {
  color: #ffffff;
  font-size: 60px;
  margin-bottom: 0;
  line-height: 1;
}

.cool-facts-content > p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 0;
}




