<div class="container">
  <div class="row">
      <div class="col-12">
          <div class="section-heading text-center">
              <h2>The Creative Progress</h2>
              <div class="line-shape"></div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-12 col-md-4">
          <div class="single-special text-center wow fadeInUp">
              <h4>The Research And Planning</h4>
              <p>Problem statements, user requirement and various approaches to problem solutions.</p>
          </div>
      </div>
      <div class="col-12 col-md-4">
          <div class="single-special text-center wow fadeInUp">
              <h4>Implimentagtion And Design</h4>
              <p>Product design description, progress diagrams and other documentations. Software development</p>
          </div>
      </div>
      <div class="col-12 col-md-4">
          <div class="single-special text-center wow fadeInUp">
              <h4>Testing, Review And Launch</h4>
              <p>Software testing in different variations. Continuous Integration for user feedback before full deployment.</p>
          </div>
      </div>
  </div>
</div>
