.single-icon > i {
    font-size: 36px;
    color: #fb397d;
  }

  .single-special > h4 {
    font-size: 22px;
    color: #5b32b4;
  }

  .single-icon {
    margin-bottom: 25px;
  }

  .single-special > h4 {
    font-size: 22px;
    color: #5b32b4;
    margin-bottom: 15px;
  }

  .single-special {
    border: 1px solid #eff2f6;
    padding: 40px;
    border-radius: 40px 40px 40px 0px;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    margin-bottom: 30px;
  }

  .special_description_content > h2 {
    color: #5b32b4;
    font-size: 48px;
    margin-bottom: 30px;
  }

  .single-special:hover {
    -webkit-box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
            box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
  }

  .single-special p {
    margin-bottom: 0;
  }

  .app-download-area {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 1;
    flex-basis: 1;
    margin-top: 50px;
  }

  .app-download-btn a {
    border: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 30px;
    border-radius: 30px 30px 30px 0;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .app-download-btn.active a,
  .app-download-btn a:hover {
    border-color: transparent;
    background-color: #fb397d;
  }

  .app-download-btn a i {
    color: #47425d;
    font-size: 24px;
    margin-right: 15px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
  }

  .app-download-btn a p {
    font-size: 16px;
    line-height: 1;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
  }

  .app-download-btn a p span {
    font-size: 12px;
    display: block;
  }

  .app-download-btn:first-child {
    margin-right: 20px;
  }

  .app-download-btn a:hover i,
  .app-download-btn.active a i,
  .app-download-btn.active a p,
  .app-download-btn a:hover p {
    color: #fff;
  }
