<section class="wellcome_area_theme clearfix">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading-theme">
                    <h2></h2>
                    <h3>About</h3>
                </div>
            </div>
        </div>
    </div>
  </section>

  <div class="container">
      <div class="ceo-heading">
        <h2>CEO</h2>
        <div class="ceo-line-shape"></div>
      </div>
  <div class="row ceo">
      <div class="col-12 col-md col-lg">
        <p>Thomas Sule is the C.E.O of Glosskode. Prior to this, he served at
            Various levels in Oando PLC, transforming all aspects of Oando PLC digital
            strategy and aligning IT as a key business enable Business executive with over 18 years
            experience providing vision and leadership in implementing and managing complex enterprise
            solutions. Proficient in meeting company goals by obtaining consensus among senior management,
            providing strategic direction to corporate executives, and tactical direction to technical staff
            to achieve operational, project, and support objectives. Proven track record of leveraging technology
            to transform businesses across various verticals and developing strategic alliance to drive
            profitability. Have fostered double to triple digit annual growth with both Fortune 500
            and start-up tech companies, generating stellar references in both Nigeria and North America
        </p>
    </div>
    <div class="col-12 col-md col-lg about-ceo">
        <img src="assets/img/ceo-img/ceo.jpg" alt="">
        <div class="ceo-text">
            <h4>Thomas Sule</h4>
            <p>Head Business Development</p>
        </div>
    </div>
  </div>
</div>

<app-cta></app-cta>

<div class="container">
  <div class="row mission">
      <div class="col-12">
          <div class="mission-heading text-center">
              <h1>Our Mission And Vision</h1>
              <div class="line-shape"></div>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 col-lg">
        <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
            <h4>Our Mission</h4>
            <p>To leverage our experience to drive technology solutions with the right return on investment as business enablers to our clients</p>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg ">
        <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
            <h4>Our Vision</h4>
            <p>To become the Top IT Solution provider of choice in Nigeria by 2025.</p>
        </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
