<section class="wellcome_area_theme clearfix">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12 col-md">
              <div class="wellcome-heading-theme">
                  <h2></h2>
                  <h3>Contact</h3>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="footer-contact-area section_padding_100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading">
                    <h2>Get in touch with us!</h2>
                    <div class="line-shape"></div>
                </div>
                <div class="footer-text">
                    <p>Glosskode Technology Solutions is a wholly indigenous Information Technology (IT) company working assiduously to transform lives by creating platforms that make people work smarter and make life better.</p>
                </div>
                <div class="address-text">
                    <p><span>Address:</span> 13B Abayomi-Durosimi-Etti, Lekki, Lagos, Nigeria.</p>
                </div>
                <div class="phone-text">
                    <p><span>Phone:</span> +234 806 160 4869</p>
                </div>
                <div class="email-text">
                    <p><span>Email:</span> info@glosskode.com</p>
                </div>
                <div class="time-text">
                    <p><span>Time:</span> Monday - Friday: 8.00am to 5.00pm</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact_from">
                    <form action="#" method="post">
                        <div class="contact_input_area">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Your Message *" required></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn submit-btn">Send Now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>

  <app-footer></app-footer>
