.service-image {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.service-image img {
  width: 100%;
}

.service-text > h4 {
  font-size: 22px;
  color: #5b32b4;
}

.service-text > p {
  color: #b5aec4;
  margin-bottom: 0;
}
.single-service {
  margin-bottom: 50px;
}
