
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/img/bg-img/slider1.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h1>Digital Transformation</h1>
      <h5>we create enabling websites and application of every kind</h5>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/img/bg-img/slider2.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h1>Application Development</h1>
      <h5>Reshaping the Nigerian market with our game changing applications.</h5>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/img/bg-img/slider3.png" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h1>Opportunity To Boost Profits</h1>
      <h5>We build our products to meet the end user experience requirements.</h5>
    </div>
  </ng-template>
</ngb-carousel>
