<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <!-- Heading Text  -->
            <div class="client-heading">
                <h1>Clients Say !!!</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="single-client-member">
                <div class="client-image">
                    <img src="assets/img/client-img/client1.jpg" alt="">
                    <div class="client-hover-effects">
                        <div class="client-social-icon">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="client-text text-center">
                    <h4>Jackson Nash</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, voluptates quisquam sit veritatis modi</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="single-client-member">
                <div class="client-image">
                    <img src="assets/img/client-img/client2.jpg" alt="">
                    <div class="client-hover-effects">
                        <div class="client-social-icon">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="client-text text-center">
                    <h4>Alex Manning</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, voluptates quisquam sit veritatis modi</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="single-client-member">
                <div class="client-image">
                    <img src="assets/img/client-img/client3.jpg" alt="">
                    <div class="client-hover-effects">
                        <div class="client-social-icon">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            <div class="client-text text-center">
              <h4>Ollie Schneider</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, voluptates quisquam sit veritatis modi</p>
            </div>
        </div>
    </div>
</div>
