.service-image {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.service-image {
  width: 100%;
  height: 400px;
}
.button >button{
  margin-top: 30px;
  padding: 0px 10px;
  color: #5b32b4;
  font-weight: bold;
  cursor: pointer;
  border: none;

}
